<h1>Listing Posts</h1>

<table class="table table-hover table-condeensed">
  <thead>
    <tr>
      <th>Author</th>
      <th>Subject</th>
      <th>Post</th>
      <th>Blog</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_posts.each do |blog_post| %>
      <tr>
        <td><%= blog_post.author %></td>
        <td><%= blog_post.subject %></td>
        <td><%= blog_post.post %></td>

        <td><%=blog_post.blog_comments.count%></td>

        <% blog_post.blog_comments.each do |comments|%>
          <td><%=comments.user%></td>
          <td><%=comments.created_at%></td>
          <td><%=comments.comment%></td>
          <%end%>

          




        <td><%= blog_post.blog_id %></td>
        <td><%= link_to 'Show', blog_post %></td>
        <td><%= link_to 'Edit', edit_blog_post_path(blog_post) %></td>
        <td><%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "New Post", action: "new"%>
<br><br>
