
<h1>ERMAGERD!!! Projects!!!</h1>

<hr />
<br />

<div class="row">
	<div class="col-md-4">
		<%= link_to image_tag("MARTA.png", class: "img-circle img-responsive"), blogs_samplejson_path %>
	</div>
	<div class="col-md-8 text-left">
		<h3><%= link_to "Where are the MARTA Busses?", blogs_samplejson_path %></h3>
			<p>This nifty little app will show you every single MARTA bus in service at that time. Sometimes, the MARTA API provides some wacky data <%= link_to "(A bus in the middle of the ocean?)", welcome_galapagos_path %>, which can be thoroughly entertaining. Unless, of course the bus you are waiting on is off the coast of the Galapagos Islands.</p>
			<p>Built with <%= link_to "Gmaps4Rails", "http://apneadiving.github.io/" %>, this app makes a json call to the <%= link_to "MARTA API", "http://www.itsmarta.com/developers/default.aspx"%> and returns the Lattitude and Longitude of the busses. Then, these points are plotted on a customized google map. </p>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-8 text-left">
		<h3><%= link_to "What is your home REALLY worth?", "http://bakersfieldhomeworth.herokuapp.com" %></h3>
			<p>A realtor in California asked me to create an app that would allow potential customers to find out how much their home was worth. Along with an eye catching design, this app features a database interface, allowing the realtor to see the leads in a datatable.</p>
			<p>Built with <%= link_to "JQuery-Datatables-Rails", "https://github.com/rweng/jquery-datatables-rails" %>, <%= link_to "Rubillow", "https://github.com/synewaves/rubillow" %>, and <%= link_to "Gmaps4Rails", "http://apneadiving.github.io/" %>, this app first asks for the desired address, then shows the user a map of the address and asks them for their contact information. After they enter their info, the value of the house is shown and an email is sentt o the user as well as the realtor.</p>
	</div>
	<div class="col-md-4">
		<%= link_to image_tag("bakersfield.png", class: "img-circle img-responsive"), "http://bakersfieldhomeworth.herokuapp.com" %>
	</div>

</div>
<br>
<div class="row">
	<div class="col-md-4">
		<%= link_to image_tag("pinteresting.png", class: "img-circle img-responsive"), "http://tallpins.herokuapp.com" %>
	</div>

	<div class="col-md-8 text-left">
		<h3><%= link_to "Pinterested? ", "http://tallpins.herokuapp.com" %></h3>
			<p>This nifty little app will show you every single MARTA bus in service at that time. Sometimes, the MARTA API provides some wacky data <%= link_to "(A bus in the middle of the ocean?)", welcome_galapagos_path %>, which can be thoroughly entertaining. Unless, of course the bus you are waiting on is off the coast of the Galapagos Islands.</p>
			<p>Built with <%= link_to "Gmaps4Rails", "http://apneadiving.github.io/" %>, this app makes a json call to the <%= link_to "MARTA API", "http://www.itsmarta.com/developers/default.aspx"%> and returns the Lattitude and Longitude of the busses. Then, these points are plotted on a customized google map. </p>
	</div>
</div>
