<h1>Listing blog_comments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Comment</th>
      <th>Blog post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_comments.each do |blog_comment| %>
      <tr>
        <td><%= blog_comment.user %></td>
        <td><%= blog_comment.comment %></td>
        <td><%= blog_comment.blog_post_id %></td>
        <td><%= link_to 'Show', blog_comment %></td>
        <td><%= link_to 'Edit', edit_blog_comment_path(blog_comment) %></td>
        <td><%= link_to 'Destroy', blog_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog comment', new_blog_comment_path %>
