<!DOCTYPE html>
<html>
<head>
  <title>Tall Keith | Ruby on Rails Developer</title>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
 <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/blogs/home">TallKeith</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><li><%= link_to "Contributors", blogs_path%></li>
        <li><%= link_to "Posts", blog_posts_path%></li>
        <li><%= link_to "About This Blog", blogs_about_me_path%></li>
        <li><%= link_to "Contact Me", blogs_contact_me_path%></li>
      <% if user_signed_in? %>

		  <%= link_to "Sgn out",destroy_user_session_path, method: :delete, class: "button" %>

		  <% else %>

		  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <%= f.label :email %>
		  <%= f.email_field :email, autofocus: true %>

		  <%= f.label :password %>
		    <%= f.password_field :password, autocomplete: "off" %>

		  <% if devise_mapping.rememberable? -%>
		    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
		  <% end -%>

		  <%= f.submit "Sign in" %>
    <!--/.nav-collapse -->
	    

		  
		
	</div>
<% end %>
  <% end %>

 </div>
  </div>
</div>

<div class="container">
  
  <div class="text-center">
    <h1>I'm tall. I'm Keith.</h1>
    <p class="lead">I'm Tall Keith, the Ruby on Rails Developer.</p>
  </div>
  
</div><!-- /.container -->

<%= yield %>
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <div class="collapse navbar-collapse">
      <a class="navbar-brand navbar-nav pull-left">&copy; 2014 Keith Nash</a>
      <ul>
	        <li class="navbar-nav pull-right"><%= link_to image_tag("Twitter-icon 45x45.jpg"), "http://twitter.com/TallestKeith"%></li>
	      	<li class="navbar-nav pull-right"><%= link_to image_tag("Facebook-icon 45x45.jpg"), "http://facebook.com/tallestkeith"%></li>
	      	<li class="navbar-nav pull-right"><%= link_to image_tag("Github-icon 45x45.jpg"), "http://github.com/tallkeith"%></li>
	      	<li class="navbar-nav pull-right"><%= link_to image_tag("Linkedin-icon 45x45.jpg"), "http://www.linkedin.com/pub/keith-nash/5b/a06/4a6/"%></li>
    </div><!--/.nav-collapse -->
  </div>
</div>
</body>

<br><br><br><br>

	
 
</html>
