<!DOCTYPE html>
<html>
<head>
  <title>Tall Keith | Ruby on Rails Developer</title>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
	<nav>
		I'm tall. I'm Keith. I'm Tall Keith, the Ruby on Rails Developer<br>
		<%= link_to "Blog", blog_posts_path%>
		<%= link_to "About This Blog", blogs_about_me_path%>
		<%= link_to "Contact Me", blogs_contact_me_path%>
		

	</nav>

 

<%= yield %>

</body>
	<footer>
        <a href="http://twitter.com/TallestKeith"><img src="img/twitter-wrap.png" alt="Twitter Logo"></a>
        <a href="http://facebook.com/tallestkeith"><img src="img/facebook-wrap.png" alt="Facebook Logo"></a>
        <p>&copy; 2014 Keith Nash.</p>
	</footer>

</html>
